# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
release
debian
docs

*.exe
*.test

*.bak

.git
.gitignore
LICENSE
VERSION
README.md
Changelog.md
Makefile
docker-compose.yml